#searchForm{
  margin-left: 35%;
  margin-right: 20%
}

#search-title{
  font-family: 'Courgette', cursive;
}

#name{
  margin-right: 40px;
  color: white;
}


#movie-card{
  background-color: #cdced1
}


.spinner-border{
  margin-left: 45%;
  margin-right: 45%;
}